# Virtual environments
venv/
env/

# Configuration files
*.pyc
__pycache__/
*.pyo
*.pyd

# Log files
*.log

# Database Files
*.sqlite3

# Editor Files
.vscode/
.idea/
.idea/*
/.idea/*

# Operating system files
.DS_Store
Thumbs.db

# Test files
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Distribution files
dist/
build/
*.egg-info/

# Other
/documentation/ISEP_Project.txt
/documentation/ISEP_Projects_list.xlsx
/documentation/Etat_avancements-180225.docx
/documentation/Synthese-reunion-180225.docx
/analysis/noised_image_test/
/analysis/performance_tests/
/analysis/perf_results/
/analysis/output_graphs/
/src/modules/logs
/src/modules/show_test_subject
/data

/analysis/analysis_results_auto_v2
/analysis/show_test_subject
/analysis/visualizations_subject_1
/data/dataset-yalefaces
/analysis/visualizations_subject_1_pipeline
/analysis/analysis_results_grid_search_3d
/src/modules/models/
